.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #83a136;
  height: 50px;
  color: white;
}

.title-thin {
  font-weight: 100;
}

.page-header {
  font-size: 24px;
  font-weight: 100;
  margin-top: 0px;
  border-bottom: none;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

ul {
  list-style-type: none;
}

.home-description-box {
  background-color: white;
  padding: 15px 20px 25px 20px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  margin-bottom: 30px;
  margin-top: 0;
  margin-left: none;
  margin-right: none;
}

.rate-description-box-large {
  position: fixed;
  top: 10px;
  right: 28px;
  background-color: #aa8939;
  color: white;
  padding: 20px 20px 25px 20px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 40px;
  height: 80px;
  width: 80px;
}

.rate-description-box {
  visibility: hidden;
}

.rate-circle-label {
  font-weight: 100;
  font-size: 12px;
}

.rate {
  margin-bottom: -10px;
}

.calendly-inline-widget {
  min-width: 320px;
  height: 580px;
}

.schedule-button-container {
  text-align: center;
}

.btn-primary {
  background-color: #83a136;
  border-color: #83a136;
  height: 50px;
  width: 75%;
  text-align: center;
  font-size: 18px;
}

.btn .btn-primary > .active :hover {
  background-color: #aa8939;
}

.btn .btn-primary > .active :focus {
  background-color: #aa8939;
}

.btn-primary a {
  color: white;
}

.navbar {
  border-radius: 0px;
}

.navbar-default {
  background-color: #83a136;
  border: none;
  color: white;
}

.navbar-brand {
  color: white !important;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > .active > a {
  background-color: #aa8939;
  color: white;
}

.navbar-default .navbar-nav > .active > a:focus {
  background-color: #aa8939;
  color: white;
}

.navbar-default .navbar-nav > .active > a:hover {
  background-color: ;
}

.navbar-toggler {
  color: white;
}

.collapse {
  background-color: #83a136;
}

.collapsing {
  background-color: #83a136;
}

.App-title {
  font-size: 1.5em;
  color: white;
}

.App-intro {
  font-size: large;
}

h1 {
  color: black;
}

.footer {
  position: fixed;
  color: white;
  font-weight: 100;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #aa8939;
}

.footer-text {
  padding: 15px;
}

@media (max-width: 768px) {
  .page-header {
    font-size: 24px;
    font-weight: 100;
    margin-top: 0px;
    border-bottom: none;
    text-align: center;
  }

  .home-description-box {
    background-color: white;
    padding: 15px 20px 10px 20px;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.12),
      0 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    margin-bottom: 15px;
    margin-top: 0;
    margin-left: 12.5%;
    margin-right: 12.5%;
  }

  .rate-description-box-large {
    visibility: hidden;
  }

  .rate-description-box {
    visibility: visible;
    background-color: white;
    padding: 15px 20px 10px 20px;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.12),
      0 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: 12.5%;
    margin-right: 12.5%;
  }

  .rate {
    margin-bottom: 0;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
